@import '/src/Assets/Styles/variables';

.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	background-image: url('../../Assets/Images/homepage.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@media (min-width: 768px) {
	.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
}
