.forgot-password-screen {
	background-image: $forgot-password-bg;
	height: 100vh;
	font-family: $text-fontfamily;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.container-lg {
		padding-top: 5%;

		.card {
			padding: 25px;
			background-clip: padding-box;
			box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
            p {
                font-weight: 600;
                color: $footer-bg

            }
            h2 {
                font-weight: bold;
                color: $footer-bg
            }
		}
	}
}
