@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.home-screen {
	.masthead {
		background-image: url('../../assets/images/homepage.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}

	@media (min-width: 768px) {
		.masthead {
			padding-top: 17rem;
			padding-bottom: 12.5rem;
		}
	}
	.section-heading {
		@include headingStyle;
	}

	.section-subheading {
		font-family: $font-family-normal;
		font-size: 120%;
		font-style: italic;
	}
}
