@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.masthead {
	background-image: url('../../assets/images/homepage.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

@media (min-width: 768px) {
	.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
}

#portfolio {
	.portfolio-item {
		max-width: 26rem;
		margin-left: auto;
		margin-right: auto;

		.portfolio-link {
			position: relative;
			display: block;
			margin: 0 auto;

			&:hover {
				.portfolio-hover {
					opacity: 1;
				}
			}

			.portfolio-hover {
				display: flex;
				position: absolute;
				width: 100%;
				height: 100%;
				background: $portfolio-link-hover;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: opacity ease-in-out 0.25s;

				.portfolio-hover-content {
					font-size: 1.25rem;
					color: white;
				}
			}
		}

		.portfolio-caption {
			padding: 1.5rem;
			text-align: center;
			background-color: #fff;
			.portfolio-caption-heading {
				font-size: 1.5rem;
				font-family: $font-family-heading;
				font-weight: $font-weight-bold-three;
				margin-bottom: 0;
			}
			.portfolio-caption-subheading {
				@include subheadingStyle;
			}
		}
	}

	.section-heading {
		@include headingStyle;
	}

	.section-subheading {
		font-family: $font-family-normal;
		font-size: 120%;
		font-style: italic;
	}
}
