@import '/src/assets/styles/variables';

.product-screen {
	.container {
		padding-top: 10%;

		.card {
			border: none;
			overflow: hidden;
		}

		.main-image {
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid #eee;
			height: 400px;
			width: 100%;
			overflow: hidden;
			box-shadow: $box-shadow;
		}

		.thumbnail-images {
			ul {
				list-style: none;
				justify-content: center;
				display: flex;
				align-items: center;
				margin-top: 10px;
				li {
					margin: 5px;
					padding: 10px;
					border: 2px solid #eee;
					cursor: pointer;
					transition: all 0.5s;
					&:hover {
						border: 2px solid #000;
					}
				}
			}
		}

		.heart {
			cursor: pointer;
			height: 29px;
			width: 29px;
			background-color: $theme-light;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			&.liked {
				color: $heart-color;
			}
		}

		.content {
			p {
				font-size: 0.9em;
			}
		}

		.colors {
			margin-top: 5px;
			ul {
				list-style: none;
				display: flex;
				padding-left: 0px;
				li {
					height: 20px;
					width: 20px;
					display: flex;
					border-radius: 50%;
					margin-right: 10px;
					cursor: pointer;

					&:nth-child(1) {
						background-color: $child-color-1;
					}
					&:nth-child(2) {
						background-color: $child-color-2;
					}
					&:nth-child(3) {
						background-color: $child-color-3;
					}
					&:nth-child(4) {
						background-color: $child-color-4;
					}
					&:nth-child(5) {
						background-color: $child-color-5;
					}
				}
			}
		}

		.right-side {
			position: relative;
		}
		.buttons .btn {
			height: 50px;
			width: 150px;
			border-radius: 0px !important;
		}
	}
}
