.page403 {
    background-image: url(../../assets/images/access-denied.gif);
    // background-size: cover;
    height: 100vh;
    // padding: 0;
    // margin: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}
