.cart_area {
    &.section-padding40 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    font-family: $text-fontfamily;
    .btn {
        background: $button-color;
        text-transform: uppercase;
        padding: 27px 44px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        display: inline-block;
        line-height: 1;
        user-select: none;
        -moz-user-select: none;
        letter-spacing: 1px;
        line-height: 0;
        margin-bottom: 0;
        cursor: pointer;
        transition: color 0.4s linear;
        position: relative;
        z-index: 1;
        border: 0;
        overflow: hidden;
        margin: 0;
        border-radius: 0px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 101%;
            height: 101%;
            background: $button-bg;
            z-index: 1;
            border-radius: 0px;
            transition: transform 0.5s;
            transition-timing-function: ease;
            transform-origin: 0 0;
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            transform: scaleX(0);
            border-radius: 0px;
        }
        &:hover {
            color: #fff !important;
            &::before {
                transform: scaleX(1);
                color: #fff !important;
                z-index: -1;
            }
        }
        &:focus {
            outline: 0;
            box-shadow: none;
            outline: 0;
            box-shadow: none;
        }
    }
    .product_count {
        display: inline-block;
        position: relative;
        margin-bottom: 24px;
        overflow: hidden;
        input {
            width: 76px;
            border: 1px solid #eee;
            border-radius: 3px;
            padding-left: 10px;
        }
        .input-number-increment {
            position: absolute;
            right: 0;
            top: -7px;
            padding: 10px;
            border-left: 1px solid #eee;
            display: inline-block;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 7px;
                width: 100%;
                height: 1px;
                background-color: #eee;
            }
        }
        .input-number-decrement {
            position: absolute;
            right: 0;
            bottom: -9px;
            padding: 10px;
            border-left: 1px solid #eee;
            display: inline-block;
        }
    }
    .btn_1 {
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #fd8f5f !important;
        }
    }
}
.cart_inner {
    .table {
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
        thead {
            tr {
                th {
                    border-top: 0;
                    font-size: 16px;
                    font-weight: bold;
                    
                    color: #797979;
                    border-bottom: 0 !important;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    vertical-align: middle;
                    align-self: center;
                    .media {
                        .d-flex {
                            padding-right: 30px;
                            img {
                                border: 1px solid #eee;
                                border-radius: 3px;
                                max-width: 150px;
                            }
                        }
                        .media-body {
                            vertical-align: middle;
                            align-self: center;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                    h5 {
                        font-size: 17px;
                        color: #2a2a2a;
                        
                        margin-bottom: 0;
                    }
                    .product_count {
                        margin-bottom: 0;
                        padding-left: 23px;
                    }
                }
            }
            tr.bottom_button {
                td {
                    &:last-child {
                        width: 60px;
                    }
                    .cupon_text {
                        margin-left: -446px;
                        input {
                            width: 200px;
                            padding: 0 15px;
                            border-radius: 3px;
                            border: 1px solid #eee;
                            height: 40px;
                            font-size: 16px;
                            color: #ccc;
                            
                            font-weight: normal;
                            margin-right: -3px;
                            outline: none;
                            box-shadow: none;
                            &:-moz-placeholder {
                                font-size: 16px;
                                color: #ccc;
                                
                                font-weight: normal;
                            }
                            &::-moz-placeholder {
                                font-size: 16px;
                                color: #ccc;
                                
                                font-weight: normal;
                            }
                            &::-webkit-input-placeholder {
                                font-size: 16px;
                                color: #ccc;
                                
                                font-weight: normal;
                            }
                        }
                        input.placeholder {
                            font-size: 16px;
                            color: #ccc;
                            
                            font-weight: normal;
                        }
                    }
                }
            }
            tr.shipping_area {
                td {
                    &:nth-child(3) {
                        vertical-align: top;
                    }
                }
                .shipping_box {
                    margin-left: -250px;
                    text-align: right;
                    .list {
                        list-style: none;
                        li {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 12px;
                            color: #606060;
                            input {
                                margin-left: 10px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .link {
                                padding-right: 30px;
                                font-size: 16px;
                                color: #797979;
                                position: relative;
                                &:before {
                                    content: '';
                                    height: 16px;
                                    width: 16px;
                                    border: 1px solid #cdcdcd;
                                    display: inline-block;
                                    border-radius: 50%;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                &:after {
                                    content: '';
                                    height: 10px;
                                    width: 10px;
                                    border-radius: 50%;
                                    background: #fd8f5f;
                                    display: inline-block;
                                    position: absolute;
                                    right: 3px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    opacity: 0;
                                }
                            }
                        }
                        li.active {
                            .link {
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    h6 {
                        font-size: 16px;
                        font-weight: normal;
                        color: #2a2a2a;
                        
                        margin-top: 20px;
                        margin-bottom: 20px;
                        i {
                            color: #797979;
                            padding-left: 5px;
                        }
                    }
                    .shipping_select {
                        display: block;
                        width: 100%;
                        background: #f4f4f4;
                        border: 1px solid #f4f4f4;
                        height: 40px;
                        margin-bottom: 20px;
                        .list {
                            width: 100%;
                            border-radius: 0;
                            li {
                                font-size: 16px;
                                font-weight: normal;
                                color: #797979;
                            }
                        }
                    }
                }
            }
        }
    }
}
