.lSSlideOuter {
	.lSPager.lSGallery {
		img {
			display: block;
			height: auto;
			max-width: 100%;
			padding: 5px;
		}
	}
}
.s_product_text {
	h3 {
		font-size: 24px;
		font-weight: 700;
		color: #2a2a2a;
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 700;
		color: #2a2a2a;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 24px;
		font-weight: bold;
		color: #2f7dfc;
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: bold;
		color: #fd8f5f;
		margin-bottom: 15px;
	}
	h5 {
		font-weight: 700;
		font-size: 15px;
		text-transform: capitalize;
		margin-bottom: 40px;
		span {
			margin: 0 10px;
		}
	}
	.list {
		li {
			margin-bottom: 5px;
			a {
				font-size: 14px;
				font-family: 'Quicksand', sans-serif;
				font-weight: normal;
				color: #555555;
				span {
					width: 90px;
					display: inline-block;
					&:hover {
						color: #555;
					}
				}
			}
			a.active {
				color: #fd8f5f;
				span {
					color: #555;
				}
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	p {
		padding-top: 20px;
		border-top: 1px dotted #d5d5d5;
		margin: 20px 0;
	}
	.card_area {
		padding: 20px 0;
		.product_count {
			input {
				border: 0px solid transparent;
				text-align: center;
			}
		}
	}
	.product_count {
		border: 1px solid #ddd;
		border-radius: 50px;
		display: flex;
		align-items: center;
		padding: 12px 15px;
		.input-number {
			display: inline-block;
			width: 60px;
		}
	}
	.add_to_cart {
		margin: 25px 0;
	}
	.like_us {
		color: #fd8f5f;
		border-radius: 50%;
		background-color: #fff;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		display: inline-block;
		margin-left: 20px;
		box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
		&:hover {
			background-color: #fd8f5f;
			color: #fff;
		}
	}
}
.lslide {
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
}
.lSPager {
	.lSGallery {
		margin-top: 20px;
	}
}
.card_area {
	.social_icon {
		margin-top: 40px;
		a {
			display: inline-block;
			border-radius: 50%;
			background-color: #3b5998;
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			color: #fff;
			margin-right: 15px;
			&:hover {
				background-color: #fd8f5f;
			}
		}
		.tw {
			background-color: #55acee;
		}
		.li {
			background-color: #0077b5;
		}
	}
}
.cart_area {
	.btn_1 {
		border: 1px solid transparent;
		&:hover {
			border: 1px solid #fd8f5f !important;
		}
	}
}
@media (max-width: 576px) {
	.s_product_text {
		.product_count {
			.input-number {
				width: 30px;
			}
		}
	}
}
