@import '/src/Assets/Styles/variables';
@import '/src/Assets/Styles/mixins';

#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: $theme-light-green;
	display: flex;
	align-items: center;
	vertical-align: middle;

	.navbar-toggler {
		padding: 0.75rem;
		font-size: 1.05rem;
		font-family: $font-family-heading;
		text-transform: uppercase;
		font-weight: $font-weight-bold-one;
		color: $theme-dark-green;
	}

	.navbar-brand {
		@include fontBrand;
	}

	.navbar-nav {
		font-family: $font-family-heading;
		font-size: 0.95rem;
		color: $theme-dark-green;
		letter-spacing: 0.0625em;
		.active {
			color: $theme-yellow;
		}
		:hover {
			color: $theme-yellow;
		}

		.nav-item {
			@extend .navbar-nav;
		}
		.nav-link {
			@extend .navbar-nav;
		}
	}
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		background-color: transparent;
		transition: padding-top 0.3s ease-in-out,
			padding-bottom 0.3s ease-in-out;

		.navbar-brand {
			font-size: 1.5em;
			transition: font-size 0.3s ease-in-out;
		}

		.navbar-nav .nav-item {
			font-size: 1.25em;
			color: #fff;
			margin-right: 1rem;
		}

		.nav-item:last-child {
			margin-right: 0;
		}
	}
	#mainNav.navbar-shrink {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: $theme-light-green;
		box-shadow: $box-shadow;
	}
	#mainNav.navbar-shrink {
		font-size: 1.25em;
		color: #fff;
	}
}
