.login-bg {
    height: 100vh;
    font-family: $text-fontfamily;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: $login-bg;
}
