.slider-height2 {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-bg2 {
    background-image: $home-bg2;
}

.breadcrumb {
    > .active {
        color: #888;
    }
    background: none;
    padding: 0;
    margin: 0;
    .link {
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
        line-height: 1;
        font-weight: 500;
    }
}