@import '/src/assets/styles/variables';

.login-screen {
	background-color: $theme-light-green;
	min-height: 100vh;

	.loginContainer {
		padding-top: 10%;
		text-align: center;

		.loginForm {
			width: 100%;
			height: 500px;
			background-color: #fff;
			padding: 15px;
			padding-top: 30px;
			h1 {
				margin-top: 30px;
				font-weight: bold;
				font-size: 50px;
				letter-spacing: 1px;
			}
			form {
				max-width: 420px;
				margin: 30px auto;
			}
			.btn {
				width: 420px;
				border-radius: 15px;
				font-weight: bold;
				font-size: 20px;
				padding: 5px 25px 5px 25px;
				background-color: #2da058;
			}

			.form-group {
				input {
					font-size: 15px;
					font-weight: lighter;
					padding-bottom: 10px;
					border-color: #d8dee4;
					background-color: transparent;
					color: $theme-dark-green !important;
					padding: 10px 30px;
					border-radius: 15px;
					transition: 0.2s;
				}
			}

			.form-check {
				padding: 0;
				text-align: left;
				label {
					vertical-align: top;
					padding-top: 5px;
					padding-left: 10px;
					font-size: 15px;
					color: #424242;
				}
			}

			.forgot-password {
				text-align: right;
				float: right;
				font-weight: bold;
				font-size: 15px;
				Link {
					color: $slider-active;
					opacity: 0.8;
					&:hover {
						color: $theme-medium-green;
						opacity: 1;
					}
				}
			}

			.create-account {
				Link {
					font-weight: bold;
					color: $theme-medium-green;
					opacity: 0.7;
					&:hover {
						color: $theme-medium-green;
						opacity: 1;
					}
				}
			}

			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 30px;
				input {
					display: none;
				}
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $slider-background;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				border-radius: 30px;

				&:before {
					position: absolute;
					content: '';
					height: 22px;
					width: 22px;
					left: 4px;
					bottom: 4px;
					background-color: white;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					border-radius: 50%;
				}
			}

			input:checked + .slider {
				background-color: $slider-active;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px $slider-active;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(30px);
				-ms-transform: translateX(30px);
				transform: translateX(30px);
			}
		}
	}

	/* Media queries */
	@media (max-width: 500px) {
		.forgot-password {
			text-align: right;
			float: left;
			padding: 20px 0;
		}

		#login {
			padding-top: 50px;
		}
	}
}
