// sass variables

// Theme colors
$theme-light: #f8f9fa;
$theme-dark: #212529;
$theme-light-green: #caf0d3;
$theme-milky-green: #84e8a4;
$theme-medium-green: #167146;
$theme-dark-green: #0c4128;
$theme-yellow: #ffc800;

// Font variables
$font-family-heading: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-normal: normal;
$font-weight-bold-one: 500;
$font-weight-bold-two: 600;
$font-weight-bold-three: 700;

$font-color: #65676b;
$font-hover-color: #000;
$font-focus-color: #000;
$font-heading-color: #262626;

// layout variables
$navbar-background: #fff;
$navbar-shrink-background: #f6fffb;

$portfolio-link-hover: rgba(255, 200, 0, 0.9);

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$layout-transition-speed: 0.3s !default;

$icons-color: #161616;
$heart-color: #ff6161;

//images
$get-path-to-assets: '/src/Assets/Images';
