// Font-family
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap';

// primary-color
$bg-primary: #f2e1d9;
$bg-sub: #d0d7de;

// text
$text-title: #1a1a1a;
$text-span: #140c40;
$text-subcaption: #646d77;
$text-input: #010a44;
$text-fontfamily: 'Quicksand', sans-serif; //'Lora', serif;
$text-normal: 500;
$text-bold: 800;

// components
$input-border: 1px solid #c9c9c9;
$button-color: #fd8f5f;
$button-bg: #e9855a;
$footer-bg: #1d2547;

// heros
$login-bg: url(../../assets/images/heros/hero-login.png);
$register-bg: url(../../assets/images/heros/hero-register.png);
$home-bg: url(../../assets/images/heros/hero-home2.png);
$home-bg2: url(../../assets/images/heros/hero-home1.png);
$forgot-password-bg: url(../../assets/images/heros/hero-backup4.png);

// alert
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$red-1: rgba(255, 53, 53, 1);
$red-2: rgba(255, 130, 130, 1);
$red-3: rgba(255, 162, 162, 1);
$red-4: rgba(255, 179, 179, 1);

$green-1: rgba(78, 196, 94, 1);
$green-2: lighten($green-1, 10);
$green-3: lighten($green-1, 20);
$green-4: rgba(190, 240, 200, 1);

$yellow-1: rgb(255, 193, 7, 1);


$orange-1: rgb(253, 117, 95, 1);
$orange-2: rgb(253, 130, 95, 1);
$orange-3: rgb(253, 143, 95, 1); // $button-color
$orange-4: rgb(253, 156, 95, 1);
$orange-5: rgb(253, 169, 95, 1);
$orange-6: rgb(253, 183, 95, 1);
$orange-7: rgb(254,217,171, 1);

// Theme colors
$header-color: #e81e25;
$subHeader-color: #65d4d8;
