// transition mixin
@import '/src/assets/styles/utils/fonts';

@mixin fontBrand {
	color: $theme-medium-green;
	font-family: 'Posterama', sans-serif;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}

@mixin subheadingStyle {
	font-style: italic;
	font-family: $font-family-normal;
}

@mixin headingStyle {
	font-family: $font-family-heading;
	color: $theme-dark-green;
}
